@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Inter', 'sans-serif';
}

:root {
    --bg-color: #f1f1f1; 
    --text-color: #000000; 
    --main-color: #000000; 
    --white-color: #ffffff; 
    --shadow-color: rgba(5, 5, 5, 0.1); 
    --text2-color: rgb(124, 120, 120); 
    --btn-color: rgb(202, 199, 199); 
    --bleu-color : #007bff;
    --hover-button : #c0c0c0;
    --button-background: #000000;
    --btn-background: #dddbdb;
}

.dark-mode {
    --bg-color: #0b0a0e; 
    --text-color: #eaeaea; 
    --main-color: #ffffff; 
    --white-color: #121212; 
    --shadow-color: rgba(255, 255, 255, 0.1); 
    --text2-color: rgb(124, 120, 120);
    --btn-color: rgb(51, 50, 50);
    --bleu-color : #007bff;
    --hover-button : #1d1d1d;
    --btn-background: #000000;
    --button-background: #ffffff;
}

html{
    font-size:62.5%;
    overflow-x: hidden;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
    overflow-x: hidden;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 7%;
    background: transparent;
    display: flex;
    align-items: center;
    z-index: 100;
    transition: .5;
    backdrop-filter: blur(5px); 
    -webkit-backdrop-filter: blur(5px); 
}

.header.sticky{
    background-color: var(-text2-color);
    background: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(30px); 
}

.logo{
    font-size: 2.5rem;
    color: var(--main-color);
    font-weight: 800;
    cursor: default;
    margin-right: auto;
    cursor: pointer;
}

.highlight {
    color: var(--main-color);
}

.navbar a{
    position: relative;
    font-size: 1.4rem;
    color: var(--text2-color);
    font-weight: 500;
    margin-right: 3rem;
}

.dark-mode .navbar a {
    color: var(--text2-color);
}

.dark-mode .navbar a:hover {
    color: var(--main-color); 
}

.navbar a:hover {
    color: rgb(193, 192, 192) ; 
}

.header.sticky .navbar a{
    color: var(--text2-color);
    
}

.header.sticky .navbar a.active{
    color: var(-text-color);
    
}

.navbar a.active::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: .2rem;
    background: var(--main-color);
    border-radius: 20px;
}

.header.sticky .navbar a::before{
    background: var(--main-color);
    opacity: 10;
}

#darkMode-icon{
    font-size: 1.5rem;
    color: var(--main-color);
    cursor: pointer;
    border: 1px solid var(--btn-color); 
    border-radius: 20%; 
    padding: 0.5rem;
}

#darkMode-icon:hover{
    opacity : 0.5 ; 
}

.header.sticky #darkMode-icon{
    color: var(--text-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--main-color);
    display: none;
}

section{
    min-height: 100vh;
    padding: 1rem 7% 2rem;
}

.home{
    display: flex;
    align-items: center;
}

.home .home-content{
    max-width: 44rem;
}

.home-content h3{
    font-size: 3.2rem;
    font-weight: 700;
    line-height: .3;
}

.home-content h1{
    font-size: 3.6rem;
    font-weight: 700;
    margin-bottom: .3rem;
    color: var(--bleu-color);
}

.home-content p{
    font-size: 1.6rem;
    text-align: justify;
    color: var(--text2-color)
}

.blogger-link {
    text-decoration: ;
    color: var(--main-color);
}

.blogger-link:hover {
    text-decoration: underline;
}

.home-content .social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    
    border: .1rem solid var(--btn-color);
    border-radius: 50%;
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    font-size: 2rem;
    color: var(--main-color);
    margin: 2.5rem 1.5rem 3rem 0;
}

.btn{
    display: inline-block;
    padding: 1.2rem 2.8rem;
    background: var(--main-color);
    border-radius: 10px;
    font-size: 1.7rem;
    color: var(--white-color);
    letter-spacing: .1rem;
    font-weight: 600;
    border: .1rem solid ;
    transition: .5s ease;
}

.btn:hover{
    opacity: 0.8;
    border-color: var(--btn-color);
}

.home .profession-container{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 768px;
    height: 768px;
    overflow: hidden;
    pointer-events: none;
}

.home .profession-container .profession-box{
    position: absolute;
    top: 0;
    right: 0;
    left : 450px;
    width: 768px;
    height: 768px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: professionRotate 12s ease-out infinite;
}

@keyframes professionRotate {
    0%, 20%{
        transform:rotate(0deg);
    }

    25%, 45%{
        transform:rotate(-90deg);
    }

    50%, 70%{
        transform:rotate(-180deg);
    }

    75%, 95%{
        transform:rotate(-270deg);
    }

    100%{
        transform:rotate(-360deg);
    }
    
}

.home .profession-box .profession {
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--main-color);
    transform: rotate(calc(360deg / 4 * var(--i)));
    transform-origin: 384px;
    padding: 13px 0;
}

.home .profession-box .profession:nth-child(1) i{
    margin-right: 15px;

}

.home .profession-box .profession:nth-child(2),
.home .profession-box .profession:nth-child(4){
    padding-bottom: 20px;
}

.home .profession i{
    font-size: 3.8rem;
}

.home .profession h3{
    font-size: 3.2rem;
    line-height: 1;
    font-weight: 600;
}

.home .profession-box .circle{
    width: 560px;
    height: 560px;
    border: 0px solid var(--main-color);
    border-radius: 50%;
}

.home-img img {
    max-width: 30%; 
    border-radius: 50px; 
    margin-bottom: 10px;
}

.home-img img:hover {
    border: .1rem solid var(--bg-color);
}





.home {
    position: relative;
}

.services {
    position: relative;
}

.about {
    position: relative;
}

.contact {
    position: relative;
}

.grid-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
}

.grid-background:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: 
        linear-gradient(rgba(128, 128, 128, 0.5) 1px, transparent 1px),
        linear-gradient(90deg, rgba(128, 128, 128, 0.5) 1px, transparent 1px);
    background-size: 70px 70px;
    z-index: -1;
    opacity: 0.2;
}































span{
    color:var(--text2-color);
}

.testimonial-slide i {
    color: var(--main-color);
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.about-img img{
    width: 10vw;
    border-radius: 150px;
    padding-top: 0rem;
}

.heading{
    font-size: 4.5rem;
    text-align: center;
}

.about-content h2{
    text-align: left;
    line-height: 1.2;
}

.about-content h3{
    font-size: 2rem;
}

.about-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
    text-align: justify;
}

.services h2{
    margin-bottom: 2rem;
}

.tools h2{
    margin-bottom: 0rem;
}

.services{
    min-height: auto;
    padding-bottom: 0rem;
    padding-left: 7rem;
    padding-right: 7rem;
}

.services .services-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.services-container .services-box{
    flex: 1 1 30rem;
    background: var(--bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 1rem;
    text-align: center;
    border-top: .1rem solid var(--btn-color);
    border-bottom: .1rem solid var(--btn-color);
    border-left: .1rem solid var(--btn-color);
    border-right: .1rem solid var(--btn-color);
    transition: .5s ease;
}

.services-container .services-box:hover{
    transform: scale(1.02);
}

.services-box i{
    font-size: 7rem;
    color: var(--text2-color);
}

.services-box h3{
    font-size: 2.6rem;
    transition: .5s ease;
}

.services-box:hover h3{
    color: var(--text2-color);
}

.services-box p{
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}

.portfolio{
    padding: 1rem 1rem;
}

.portfolio {
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.heading {
    font-size: 4rem;
    font-style: italic;
    margin-bottom: 1rem;
    text-align: center;
}

.heading span {
    color: var(--bleu-color); 
}

.icon-container {
    display: flex;          /* Utilise flexbox pour l'alignement horizontal */
    align-items: center;    /* Aligne les icônes au centre verticalement */
    gap: 15px;              /* Espace entre les icônes */
}

.testimonial-slide {
    text-align: center;     /* Centrer le texte sous les icônes */
}

.fas.fa-external-link-alt {
    font-size: 15px;
    color: var(--main-color);
    cursor: pointer;
    border: 1px solid var(--btn-color); 
    border-radius: 50%; 
    padding: 1rem;
}

.fas.fa-external-link-alt:hover {
    background-color: var(--btn-color);
    color: #ffffff; 
}   

.rotate {
    animation: spin 7s linear infinite;
}

.smaller-text {
    font-size: 0.6em; 
    font-style: italic;
}

.rotate {
    animation: spin 10s linear infinite;
}

.testimonial-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 5rem 5rem;
}

.portfolio-container .heading{
    padding-bottom: 1rem;
}

.testimonial-container .testimonial-wrapper{
    position: relative;
    max-width: 60rem;
    width: 100%;
    padding: 1.5rem;
}

.testimonial-wrapper .testimonial-box{
    padding: 1rem;
    border-radius: 2rem;
    overflow: hidden;
}

.testimonial-content .testimonial-slide{
    display: flex;
    align-items: center;
    flex-direction: column;
    background: var(--bg-color);
    border-radius: 1rem;
    padding: 3rem 5rem;
    border-top: .1rem solid var(--btn-color);
    border-bottom: .1rem solid var(--btn-color);
    border-left: .1rem solid var(--btn-color);
    border-right: .1rem solid var(--btn-color);
}

.testimonial-slide img{
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    border-radius: 50%;
}

.testimonial-slide h3{
    font-size: 2.5rem;
    margin: 4rem 0;
}

.testimonial-slide p{
    font-size: 1.5rem;
    text-align: center;
}

.testimonial-box .swiper-button-next:after, 
.testimonial-box .swiper-button-prev:after { 
  color: var(--bg-color); 
  font-size: 10px;
  font-weight: 900;
} 

.testimonial-box .swiper-button-next{
  background-color: var(--button-background);
  margin-right: -100px ;
  color: var(--white-color); 
  font-size: 20px;
  border: 0px solid var(--bleu-color);
  border-radius: 50%; 
  width: 30px; 
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonial-box .swiper-button-next:hover{
    opacity: 0.8;
}
    
.testimonial-box .swiper-button-prev{
  background-color: var(--button-background);
  margin-left: -100px ; 
  margin-right: -100px ;
  color: var(--white-color); 
  font-size: 20px;
  border: 0px solid var(--bleu-color);
  border-radius: 50%; 
  width: 30px; 
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonial-box .swiper-button-prev:hover{
    opacity: 0.8;
}

.stack-title {
    font-size: 1.5em;
    font-weight: bold;
}

.testimonial-box .swiper-pagination-bullet{
    background: rgb(128, 127, 127);
}

.testimonial-box .swiper-pagination-bullet-active{
    background: var(--bleu-color)
}

.testimonial-content ul li {
    font-size: 1.5em; 
}


.subtitle {
    font-size: 0.85em; 
    margin-top: -10px; 
    color: #555; 
    font-style: italic; 
}
  

.stars i {
    color: yellow; 
    font-size: 20px;
    margin-bottom: 20px; 
}

.contact{
    padding: 10rem 5rem;
}

.contact h2{
    margin-bottom: 2rem;
}

.contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--bg-color);
    border-radius: 1rem;
    margin: .7rem 0;
    border-top: .1rem solid var(--btn-color);
    border-bottom: .1rem solid var(--btn-color);
    border-left: .1rem solid var(--btn-color);
    border-right: .1rem solid var(--btn-color);
}

.contact form .input-box input{
    width: 49%;
}

.contact form textarea{
    resize: none;
    width: 100%;
    height: 20rem;
}

.contact form .btn{
    margin-top: 2rem;
    cursor: pointer;
}

.footer {
    background: linear-gradient(135deg, var(--footer-bg-color), #111);
    color: var(--footer-text-color);
    padding: 40px 20px; 
    text-align: center;
    border-top: 5px solid var(--footer-border-color);
    position: relative;
    overflow: hidden;
    perspective: 1000px;
}

.footer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('path/to/your/background-image.jpg') no-repeat center center;
    background-size: cover;
    opacity: 0.1; 
    z-index: -1; 
}

.footer-text {
    margin-bottom: 30px; 
}

.footer-text a {
    color: var(--footer-text-color);
    text-decoration: none;
    font-size: 18px; 
    font-weight: 500;
    transition: color 0.3s ease, transform 0.3s ease, text-shadow 0.3s ease;
    text-shadow: 0 2px 4px var(--footer-shadow-color);
}

.footer-text a:hover {
    color: var(--footer-link-hover-color);
    transform: translateY(-3px); 
    text-shadow: 0 4px 6px var(--footer-shadow-color);
}

.footer-text i {
    font-size: 28px; 
}

.footer-links {
    margin-bottom: 30px;
    border-bottom: 1px solid var(--footer-border-color);
    padding-bottom: 20px;
}

.footer-links a {
    color: var(--footer-text-color);
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
    font-weight: 500;
    transition: color 0.3s ease, transform 0.3s ease, text-shadow 0.3s ease;
}

.footer-links a:hover {
    color: var(--footer-link-hover-color);
    transform: translateY(-3px);
    text-shadow: 0 4px 6px var(--footer-shadow-color);
}

.footer-social {
    margin-bottom: 30px;
}

.footer-social a {
    color: var(--footer-text-color);
    text-decoration: none;
    margin: 0 15px;
    font-size: 32px; 
    transition: color 0.3s ease, transform 0.3s ease, background-color 0.3s ease;
    padding: 12px;
    border-radius: 50%;
    background-color: var(--footer-newsletter-bg);
}

.footer-social a:hover {
    color: var(--footer-link-hover-color);
    transform: scale(1.2);
    
}

.footer-social i {
    font-size: 36px; 
}

.footer-credits {
    margin-bottom: 30px;
}

.footer-credits a {
    color: var(--footer-text-color);
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease, transform 0.3s ease, text-shadow 0.3s ease;
}

.footer-credits a:hover {
    color: var(--footer-link-hover-color);
    transform: translateY(-3px);
    text-shadow: 0 4px 6px var(--footer-shadow-color);
}

.footer p {
    margin-top: 20px; 
    font-size: 18px;
    transition: color 0.3s ease;
}

.footer p:hover {
    color: var(--footer-link-hover-color);
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.footer * {
    animation: fadeInUp 1s ease-out;
}

@media (max-width: 768px) {
    .footer {
        padding: 20px 10px;
    }

    .footer-social a {
        font-size: 28px;
        margin: 0 10px;
    }

    .footer-links a, .footer-text a {
        font-size: 16px;
        margin: 0 8px;
    }

    .footer-newsletter input, .footer-newsletter button {
        font-size: 14px;
    }
}

.footer-iconTop {
    position: fixed; 
    bottom: 40px; 
    right: 20px; 
    z-index: 1000; 
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: white; 
    border-radius:  2rem;
    border: .1rem solid var(--btn-color); 
    outline: .1rem solid transparent; 
    transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.footer-iconTop a:hover {
    outline-color: white; 
    background: var(--btn-color); 
    transform: scale(1.1); 
}

.footer-iconTop a i {
    font-size: 1.4rem;
    color: #333; 
    transition: color 0.1s ease; 
}

.footer-iconTop a:hover i {
    color: #fff; 
}

.popup {
    display: none; 
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(41, 37, 37, 0.5);
    backdrop-filter: blur(10px); 
}

.popup-content {
    background-color: #fff ; 
    color: var(--main-color); 
    margin: 10% auto; 
    padding: 20px;
    border-radius: 20px; 
    width: 80%;
    max-width: 600px;
    position: relative;
}

.popup-close {
    color: var(--main-color);
    float: right;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    
}

.popup-close:hover,
.popup-close:focus {
    color: #031d55; 
}

.popup-content p {
    margin: 0 0 10px 0; 
}



/*BREAKPOINTS*/

@media (max-width: 1200px){
    html {
        font-size: 55%;
    }

    .home .profession-container{
        height: 85.8rem;
    }

    .home .profession-container .profession-box{
        right: -12rem;
        height: 85.8rem;
    }

    .home .profession-container .overlay{
        right: -9rem;
    }

    .header.sticky{
        background-color: var(--bg-color);
        background: rgba(255, 255, 255, 0.1); 
        backdrop-filter: blur(10px); 
    }
}

@media (max-width: 1024px){
    .header{
        padding: 3rem 3%;
    }

    section{
        padding: 2rem 3% 2rem;
    }

    .home .profession-container .profession-box{
        right: -22rem;
    }

    .home .profession-container .overlay{
        right: -15rem;
    }
    
    .footer-links {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer-links a {
        margin: 5px 10px;
    }

    .footer-social {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .footer-social a {
        margin: 5px 10px;
    }
    
}



@media (max-width: 991px){

    .header.sticky{
        background-color: var(--bg-color);
        background: rgba(255, 255, 255, 0.1); 
        backdrop-filter: blur(10px); 
    }

    .navbar a:nth-child(1),
    .navbar a:nth-child(2){
        color: var(--main-color);
    }

    .navbar a.active::before{
        background: var(--main-color);
        opacity: .7;
    }

    .home .home-content{
        max-width: 50rem;
    }

    .home .profession-container .profession-box{
        right: -45rem;
    }

    .home .profession-container .overlay{
        right: -39.5rem;
    }
     
    .services {
       
    }

    .contact{
        min-height: auto;
    }


}

@media (max-width: 768px){

    .header.sticky{
        background-color: var(--bg-color);
        background: rgba(255, 255, 255, 0.1); 
        backdrop-filter: blur(10px); 
    }
    
    #menu-icon{
        display: block;
    }

    #darkMode-icon {
        position: absolute;
        right: 7rem;
        font-size: 2.6rem;
        color: var(--text-color);
        margin-bottom: .1rem;
    }

    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        color: var(--text-color);
    }

    .navbar a:nth-child(1),
    .navbar a:nth-child(2){
        color: var(--text-color);
    }

    .navbar a.active{
        color: var(--main-color);
    }

    .navbar a::before{
        display: none;
    }

    .home {
        padding: 2rem 3% 23rem;
        justify-content: center;
        text-align: center;
    }

    .profession-container {
        display: none ;
    }

    .home-content p{
        text-align: center; 
    }

    .home-content h3{
        font-size: 2.6rem;
    }

    .home-content h1{
        font-size: 5rem;
    }

    .home-content .social-media a{
        margin: 2.5rem .75rem 3rem;
    }

    .home .profession-container{
        left: 0;
        width: 100%;
        height: 100%;
    }

    .home .profession-container .profession-box{
        position: fixed;
        top: 60%;
        left: 0;
        border-radius: 0;
        width: 100%;
    }

    .home .profession-box .profession{
        padding: 0 13px;
        left: auto;
        transform-origin: 0;
        background: transparent;
    }

    .home .profession-box .profession:nth-child(1){
        transform: rotate(-90deg) translate(-120px, -210px);
    }

    .home .profession-box .profession:nth-child(1) i{
        margin-right: 0;
    }

    .home .profession-box .profession:nth-child(2){
        transform: rotate(0deg) translate(0, -335px);
    }

    .home .profession-box .profession:nth-child(3){
        transform: rotate(90deg) translate(-115px, -450px);
    }

    .home .profession-box .profession:nth-child(4){
        transform: rotate(180deg) translate(-220px, -335px);
    }

    .home .portfolio-box .circle{
        position: fixed;
        width: 670px;
        height: 670px;
        z-index: -1;
    }

    .home .profession-container .overlay{
        position: fixed;
        top: rem;
        left: 50%;
        right: 0;
        transform: rotate(90deg) translate(-50%, 50%) scaleY(3);
        border-width: 23.9rem;
    }

    .about {
        flex-direction: column-reverse;
        text-align: center;
    }

    .about-content h2{
        text-align: center;
    }

    .about-img img{
        width: 25vw; 
    }

    .portfolio .portfolio-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .testimonial-container .testimonial-wrapper {
        padding: 2rem 0;
    }

    .testimonial-content .testimonial-slide{
        padding: 3rem 2rem;
    }

    .testimonial-box .swiper-button-next,
    .testimonial-box .swiper-button-prev{
        display: none;
    }

    .footer-text {
        font-size: 16px;
    }

    .footer-text i {
        font-size: 20px;
    }

    .footer-links {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-links a {
        margin: 5px 0;
    }

    .footer-social {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-social a {
        margin: 5px 0;
        font-size: 20px;
    }

    .footer-iconTop a {
        padding: .6rem;
        border-width: .1rem;
    }

    .footer-iconTop a i {
        font-size: 2rem;
    }

}

@media (max-width: 617px){

    .header.sticky{
        background-color: var(--bg-color);
        background: rgba(255, 255, 255, 0.1); 
        backdrop-filter: blur(10px); 
    }

    section{
        padding: 2rem 3% 2rem;
        margin-bottom: -rem;
    }

    .portfolio .portfolio-container{
        grid-template-columns: 1fr;
    }

    .home {
        padding: 0 3% 2rem;
        justify-content: center;
        text-align: center;
    }

    .home-content h3{
        font-size: 2rem;
    }

    .home-content h1{
        font-size: 4rem;
    }

    .home-content p{
        font-size: 1.5rem;
        text-align: center; 
    }

    .home-content .social-media a{
        margin: 2rem .5rem 2rem;
    }

    .home .profession-container{
        left: 0;
        width: 100%;
        height: 100%;
    }

    .home .profession-container .profession-box{
        position: fixed;
        top: 75%;
        left: 0;
        border-radius: 0;
        width: 100%;
    }

    
    

}

@media (max-width: 450px) {

    .header.sticky{
        background-color: var(--bg-color);
        background: rgba(255, 255, 255, 0.1); 
        backdrop-filter: blur(10px); 
    }

    html {
        font-size: 50%;
    }

    #darkMode-icon {
        right: 6rem;
    }

    .home {
        padding: 6rem 3% 10rem;
        align-items: center;
    }

    .home h3{
        padding-top: 5rem;
    }

    .home .profession-container{
        display: none;
    }

    .contact form .input-box input{
        width: 100%;
    }

    .service {
        margin-top:px;
    }
    

    .home,
    .services,
    .portfolio,
    .testimonial-container,
    .contact,
    .tools,
    .about,
    .contact {
        padding: 1rem;
        margin-bottom: 0px;  
    }
    

    .tools {
        margin-bottom: 0px;
    }

    .footer-text {
        font-size: 14px;
    }

    .footer-text i {
        font-size: 18px;
    }

    .footer-links a {
        font-size: 14px;
    }

    .footer-social a {
        font-size: 18px;
    }

    .footer-iconTop a {
        padding: .5rem;
        border-width: .1rem;
    }

    .footer-iconTop a i {
        font-size: 1.8rem;
    }

    .footer p {
        font-size: 12px;
    }
}

@media (max-width: 365px) {

    .header.sticky{
        background-color: var(--bg-color);
        background: rgba(255, 255, 255, 0.1); 
        backdrop-filter: blur(10px); 
    }
    
    .about-img img{
        width: 90vw;
    }


}