.heading{
    margin-top: 100px;
}

.btn {
    margin-left: 0px;
    margin-right: 50px;
    display: inline-block;
    padding: 10px 20px;
    margin: 20px;
    background-color: var(--main-color);
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.img-between-buttons {
    width: 14rem;
    height: 14rem;
    object-fit: cover;
    border-radius: 50%;
    border: .5rem solid var(--bg-color);
    outline: .5rem solid var(--main-color);
    margin-top: 200px;
    margin: 20px; 
    max-width: 100px; 
    height: auto;
}

.smaller-text {
    font-size: 0.6em; 
    font-style: italic;
}

.rotate {
    animation: spin 10s linear infinite;
}

.testimonial-container{
    margin-bottom: 300px;

}

/* Styles pour appareils mobiles */
@media (max-width: 600px) {
    .btn {
        margin-left: 10px;
        margin-right: auto;
        margin-top: 50px;
        margin-bottom: 50px;
        display: block;
        text-align: center;
    }
    
    .img-between-buttons {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .image_projet {
        display : none ;   
    }
}




