.heading{
    margin-top: 100px;
}

.header {
    position: fixed; 
    top: 0;
    width: 100%;
    backdrop-filter: blur(5px); 
    -webkit-backdrop-filter: blur(5px); 
    z-index: 1000; 
}

.btn {
    margin-left: 0px;
    margin-right: 50px;
    display: inline-block;
    padding: 10px 20px;
    margin: 20px;
    background-color: var(--main-color);
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.img-between-buttons {
    width: 14rem;
    height: 14rem;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 200px;
    margin: 20px; 
    max-width: 100px; 
    height: auto;
}

.smaller-text {
    font-size: 0.6em; 
    font-style: italic;
}

.rotate {
    animation: spin 10s linear infinite;
}

.testimonial-container{
    margin-bottom: 00px;

}

.fas.fa-database{
    font-size: 60px;
}

.fas.fa-search {
    font-size: 70px;
}



/* Styles pour appareils mobiles */
@media (max-width: 600px) {
    .btn {
        margin-left: 10px;
        margin-right: auto;
        margin-top: 50px;
        margin-bottom: 50px;
        display: block;
        text-align: center;
    }
    
    .img-between-buttons {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .image_projet {
        display : none ;   
    }
}




