/* Ajoutez ce code à votre fichier CSS */

.language-switcher {
    margin-left: auto; /* Alignement à droite */
    font-size: 16px;
    color: #333;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 4px;
    background-color: #f0f0f0;
    transition: background-color 0.3s, color 0.3s;
}

.language-switcher:hover {
    background-color: #ddd;
    color: #000;
}



.header {
    position: fixed; 
    top: 0;
    width: 100%;
    backdrop-filter: blur(5px); 
    -webkit-backdrop-filter: blur(5px); 
    z-index: 1000; 
}

.navbar a[href="blog.html"] {
    color: var(--main-color) ;
    font-weight: bold; 
}

.blog-article {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    overflow: hidden;
    margin-top: 100px;
}

.blog-article img {
    max-width: 100%;
    width: 400px;
    height: auto;
    border-radius: 20px;
}

.article-content {
    flex: 1;
    padding: 20px;
    font-size: 1.5em;
}

.article-content h2 {
    margin-top: 0;
}

.article-meta {
    color: #888;
}

.read-more {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: var(--main-color);
}

.btn {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 20px;
    cursor: pointer;
}

.pdp img {
    max-width: 100px;
    border-radius: 50%;
    margin-left: 20px ; 
}




@media (max-width: 768px) {
    .blog-article {
        flex-direction: column;
    }

    .blog-article img {
        width: 100%;
        height: auto;
    }

    .article-content {
        padding: 10px;
    }
}





