.heading{
    margin-top: 100px;
}

.btn {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 50px;
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: var(--main-color);
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.smaller-text {
    font-size: 0.6em; 
    font-style: italic;
}

.img-between-buttons {
    width: 14rem;
    height: 14rem;
    margin-top: 100px;
    margin-bottom: -400px;
    object-fit: cover;
    border-radius: 50%;
    border: .5rem solid var(--bg-color);
    outline: .5rem solid var(--main-color);
    margin: 10px; 
    max-width: 100px; 
    height: auto;
}

.bx.bxl-visual-studio {
    font-size: 16px;
}

.fab.fa-github {
    font-size: 16px;
}

.fab.fa-figma {
    font-size: 16px;
}

.fab.fa-html5 {
    font-size: 16px;
}

.fab.fa-css3-alt {
    font-size: 16px;
}

.fab.fa-js {
    font-size: 16px;
}

.fas.fa-search {
    font-size: 16px;
}

.fab.fa-react {
    font-size: 16px;
}

.rotate {
    animation: spin 7s linear infinite;
}

.fab.fa-node-js {
    font-size: 16px;
}

.fas.fa-server {
    font-size: 16px;
}

.fas.fa-database {
    font-size: 16px;
}

.icon-feedly {
    width: 16px;
    height: 16px;
}


a i.bx {
    font-size: 16px; 
    
}

.image_projet {
    width: 100%;
    margin-top: 50px;
}

.testimonial-container {
    margin-bottom: 200px;
}

.services-container {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.services-box {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dark-mode p a  {
    color: white; /* Makes <i> tags white in dark mode */
}

/* Styles pour appareils mobiles */
@media (max-width: 600px) {
    .btn {
        margin-left: 10px;
        margin-right: auto;
        margin-top: 50px;
        margin-bottom: 50px;
        display: block;
        text-align: center;
    }
    
    .img-between-buttons {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

}












    